<launch>

  <group ns="mujoco/rand">
    <group ns="textural">
      <rosparam>
        RobMat: [ 0.01,0.01,0.01,0.01, 0.5,0.5,0.5,0.0 ]
        RobCapMat: [ 0.01,0.01,0.01,0.01, 0.5,0.5,0.5,0.0 ]
        GriMat: [ 0.01,0.01,0.01,0.01, 0.5,0.5,0.5,0.0 ]
        BaseMat: [ 0.01,0.01,0.01,0.01, 0.5,0.5,0.5,0.0 ]
        ShaftMat: [ 0.01,0.01,0.01,0.01, 0.5,0.5,0.5,0.0 ]
        WallMat: [ 0.01,0.01,0.01,0.01, 0.5,0.5,0.5,0.0 ]
      </rosparam>
    </group>
    <group ns="physical">
      <rosparam>
        base: [ 0.1,0.1,0.0, 0.0,0.0,1.57 ]
      </rosparam>
    </group>
    
    <node name="mujoco_randomizer" pkg="threaded_manip" type="randomize_mujoco.py" output="screen"/>
  </group>
  
  <node name="policylearn_tools" pkg="threaded_manip" type="policy_learning_tools.py" output="screen"/>

</launch>
