<launch>

  <group ns="mujoco/rand">
    <group ns="textural">
      <rosparam>
        BaseMat: [ 0.2,0.2,0.2,0.2, 0.5,0.5,0.5,0.0 ]
        ShaftMat: [ 0.2,0.2,0.2,0.2, 0.2,0.2,0.2,0.0 ]      
      </rosparam>
    </group>
    <group ns="physical">
      <rosparam>
        base: [ 0.01,0.01,0.0, 0.0,0.0,0.1 ]
      </rosparam>
    </group>
    
    <node name="mujoco_randomizer" pkg="threaded_manip" type="randomize_mujoco.py" output="screen"/>
  </group>
  
  <node name="policylearn_tools" pkg="threaded_manip" type="policy_learning_tools.py" output="screen"/>

</launch>
