<launch>

  <include file="$(find mujoco_ros)/mujoco_ros.launch"/>

  <node name="image_view" pkg="image_view" type="image_view" output="screen" args="image:=/mujoco/ros_cam/rgb"/>

  <arg name="threaded_obj_handling" default="false"/>
  <group ns="mujoco" if="$(arg threaded_obj_handling)">
    <group ns="nut">
      <rosparam>
        attach_name: shaft
        attach_axis: z
        attach_axis_linear_offset: 0.01
        attach_pos_thresh: 0.005
        attach_eul_thresh: 0.05
        pitch: 0.015
      </rosparam>
    </group>
    
    <node name="threaded_manip_watchdog" pkg="threaded_manip" type="thread_lock_watchdog.py" output="screen" args="nut"/>
  </group>
  
  <arg name="policy_learning" default="false"/>
  <include file="$(find threaded_manip)/launch/policy_learning_tools.launch" if="$(arg policy_learning)"/>

</launch>
